body {
	font-family: Helvetica, Arial, sans-serif;
	margin-top: 100px;/* make room for the nav bar */
}

.content {
	margin:0 auto;
	width: 700px;
}

#credits {
	margin:0 auto;
	width: 960px;
}

.chart-container {
	display: flex;
	justify-content: center;
}

.chart-title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
}

.chart-subtitle {
	font-size: 14px;
	color: grey;
}

div.before-chart-title {
    height: .5rem;
    width: 20rem;
    background-color: lightgrey;
    margin-top: 3rem;
		margin-bottom: 1rem;
}

.container-large {
	height: 700px;
}

.annotation-group {
	font-size: 15px;
  	font-weight: bold;
  	color: black ;
}

.annotation-groupSlope text {
	font-size: 12px;
}

/* STACKED AREA CSS */

.legend, .label {
	font-size: 13px;
	fill: #333333 ;
}

.legend rect{
	stroke: lightgrey;
	stroke-width: 0.7px;
}

.description {
	font-size: 18px;
}

.ax text {
	opacity: 0.7;
}

.ax line {
	stroke: gray;
	opacity: 0.5;
}

.ax path {
	stroke: #333333;
	opacity: 0.5;
}

.layer path {
	stroke: white;
	stroke-width: 1px;
	opacity: 0.8;
}

/* SLOPINE CSS */
.slopeline {
	stroke-width: 6;
}

.description {
	font-size: 20px;
}

.descriptionRec {
	font-size: 20px;
}

.smallDescription {
	font-size: 13px;
	fill: grey ;
}

.labelsleft, .labelsright {
	font-size: 15px;
	fill: #333333 ;
}

.labelyear {
	font-size: 18px;
	fill: gray;
}

/* MAP CSS */

.legendMap2 text {
	font-size: 13px;
	fill: grey ;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
